.editor-div {
  display: flex;
  height: 100%;
}

.editor-div-item {
  width: 50vw;
  height: 100vh;
}

.ql-editor{
  height: 81vh !important;
}

.ace_editor {
  height: 80vh !important;
}

#editor {
  height: 300px;
  width: 100%;
}

.Button__button___1FrBC{
  color: black !important;
  border: solid !important;
  border-color: black !important;
  border-width: 1px !important;
  background-color: white !important;
}